/* fonts */

/* .pacifico-regular {
  font-family: "Pacifico", cursive;
  font-weight: 400;
  font-style: normal;
} */


/* .edu-nsw-act-hand-pre-<uniquifier> {
  font-family: "Edu NSW ACT Hand Pre", cursive;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
} */


/* .edu-qld-hand-<uniquifier> {
  font-family: "Edu QLD Hand", cursive;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
} */


/* .roboto-<uniquifier> {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
} */


/* .dancing-script-<uniquifier> {
  font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
} */



body{
    margin: 0%;
    padding: 0%;
    background-color: #050505;
}

h1{
   font-family: "Pacifico", cursive;
   color: #e8e8e8 ;
   font-size: 25px;
   margin-left: 40px;
   display: inline;
   margin-top: 40px;
   position: relative;
   animation-name: h1-animation;
   animation-duration: 1s;
  animation-timing-function: ease;
      /* animation: name duration timing-function delay iteration-count direction fill-mode; */
      animation-iteration-count: 1;
    
}
ul,li:a{
  color: white;
}
ul,li{
    color: white;
    display: inline;
    font-family: Edu NSW ACT Hand Pre, cursive;

}
li{
    padding-left: 35px;
    color: white;
}
ul{
    margin-left:25% ;
    font-size: 10px;

}
.contant{
  background-color: #050505;
  width: 200px;
  height: 90px;
  margin-top: 120px;
  margin-left: 50px;
  animation-name: contant-animation ;
  animation-duration: 1s;
  animation-timing-function: ease;
      /* animation: name duration timing-function delay iteration-count direction fill-mode; */
      animation-iteration-count: 1;

}
.Nav-bar{
    display: inline;

}
.typing-demo{
  font-size: 20px;
    color: #fff;
    text-shadow: 0 0 5px #ff005e, 0 0 10px #ff005e, 0 0 20px #ff005e, 0 0 40px #ff005e, 0 0 80px #ff005e;
    animation: glow 1.5s infinite alternate;
  
  width: 22ch;
  animation: typing 2s steps(22), blink .5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
  font-family: monospace;
  font-size: 2em;
  
}
#exp{
     width: 150px;
     position: absolute;
     margin-top: 70px;
     border-radius: 50px;
     padding-bottom: 2px;
     border: none;
     border-color: #808080;
     font-size: 25px;
     font-family: "Dancing Script", cursive;
     background-color: gray;
     color: white;
}

#exp:hover{
          cursor: pointer;
          background-color: #050505;

}

#exp1{
     width: 150px;
     position: absolute;
     border-radius: 50px;
     margin-top: 70px;
     margin-left:160px ;
     margin-bottom: 110px;
     padding-bottom: px;
     padding: 5px;
     font-size: 20px;
     font-family: "Dancing Script", cursive;
     border: none;
     color: white;
     background-color: red;
    


}
#exp1:hover{
  background-color: #050505;
          
}
.btn {
    margin-left: 50px;
    border-radius: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 110px;
    font-family:"Pacifico",cursive;
    border: none;
    transition: all 0.3s ease;
    display: inline-block;
    animation-name: btn-animation;
    animation-duration: 2s;



}
.cont{
  width: 300px;
  height: 300px;
  position: absolute;
  margin-left: 65%;
  bottom: 10%; 
  top: 10%; 
   animation-name: cont-animation;
      animation-duration: 1s;
      animation-timing-function: ease;
      /* animation: name duration timing-function delay iteration-count direction fill-mode; */
      animation-iteration-count: 1;
}



img{
  width: 0px;
  height: 0px;

}
img:hover{
  cursor: pointer;
 outline-color: #ff0000;
}
/* paragraph */
p{
  color: gray;
  display: block;
  position: absolute;
}


/* h2{

   font-family: "Roboto", sans-serif;
   display:inline;
   color: white;
   background-color: ; */

   
   
/* } */
h2{
  color: white;
  display: inline;
  font-family: "Roboto", sans-serif;
  font-size: 30px;
  color: #fff;
  text-shadow: 0 0 5px #ff005e, 0 0 10px #ff005e, 0 0 20px #ff005e, 0 0 40px #ff005e, 0 0 80px #ff005e;
  animation: glow 1.5s infinite alternate;
 

  

}
.name{
  background-color: white;
  

}




/* link color */

a:link {
  color: white;
  background-color: transparent;
  text-decoration: none;
}



.hover-underline {
  font-size: 10PX;
  color: #ffffff;
  position: relative;
  
}

.hover-underline::after,
.hover-underline::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  background: linear-gradient(to right, #ff0000, #00ffff);
  bottom: -5px;
  left: 0;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.4s ease-out;
}

.hover-underline::before {
  top: -5px;
  transform-origin: left;
}

.hover-underline:hover::after,
.hover-underline:hover::before {
  transform: scaleX(1);
}


/* 1. Pulse Animation */
.btn-pulse {
  background-color: #a6a6a6;
  color: white ;
  animation: pulse 1.5s infinite;
}
a{
  color: white;
}



li:hover{
    cursor: pointer;
    color: #808080;
    
  
}



button:hover{
    cursor: pointer;
    background-color: black;
}

img{
    width: 100%;
    height: 100%;
    border-radius: 0.5rem;
}

/* Magnifying cursor */

* {box-sizing: border-box;}

.img-magnifier-container {
  position: relative;
}

.img-magnifier-glass {
  position: absolute;
  border: 3px solid #000;
  outline-color: white px;
  border-radius: 50%;
  cursor: none;
  box-shadow: #ffffff;
  /*Set the size of the magnifier glass:*/
  width: 100px;
  height: 100px;
}

.cursor
{
position: fixed;
width: 30px;
height: 30px;
border-radius: 50%;
background-color:#f3e2e2aa ;
transition: 0.1s;
transform: translate (-50%, -50%);
pointer-events: none;
mix-blend-mode: difference;
}
ul li:hover .cursor
{
transform: scale (6);
}
.about{ 
      width: 140px;
      height: 50px;
      background-color: gray;
      margin-top: 170px;
      margin-bottom: 40px;
      padding-top: 20px;
      display: inline;
      position: absolute;
      border-top-right-radius: 50%;
      text-align: center;
      font-family: "Roboto", sans-serif;
      font-size: 20px;
      font-weight: 500;
     
      
      
    }
      
 



/* keyframes */

@keyframes cont-animation{
  from{transform: translatex(240px);}
  to{transform: translatex();}
}

@keyframes btn-animation{
  from{transform: translatex(240px);}
  to{transform: translatex();}
}

/* h2 animation */
  @keyframes contant-animation{
     from{transform: translatex(-410px);}
  to{transform: translatex(px);}
    
  }

  @keyframes h1-animation{
     from{transform: translatex(-410px);}
  to{transform: translatex(px);}

  }

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes glow {
    0% {
        text-shadow: 0 0 5px #ff005e, 0 0 10px #ff005e, 0 0 20px #ff005e, 0 0 40px #ff005e, 0 0 80px #ff005e;
    }
    100% {
        text-shadow: 0 0 10px #00d4ff, 0 0 20px #00d4ff, 0 0 40px #00d4ff, 0 0 80px #00d4ff, 0 0 160px #00d4ff;
    }
}

@keyframes typing {
  from {
    width: 0
  }
}
    
@keyframes blink {
  50% {
    border-color: transparent
  }
}


/* About session */
@import url('https://fonts.googleapis.com/css2?family=Sedgwick+Ave+Display&family=Sevillana&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Sedgwick+Ave+Display&family=Sevillana&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sedgwick+Ave+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oleo+Script:wght@400;700&display=swap');

/* FONTS */
.sedgwick-ave-display-regular {
  font-family: "Sedgwick Ave Display", cursive;
  font-weight: 400;
  font-style: normal;
}
.oleo-script-regular {
  font-family: "Oleo Script", system-ui;
  font-weight: 400;
  font-style: normal;
}

.oleo-script-bold {
  font-family: "Oleo Script", system-ui;
  font-weight: 700;
  font-style: normal;
}


       /* CODES */

.heading{
    color: white;
    margin-left: 90px;
    font-family: Manrope, "Manrope Placeholder", sans-serif;
    margin-top: 40px;
    display: inline-block;
}
h6{
    color: white;
    font-family: Manrope, "Manrope Placeholder", sans-serif;
     margin-left: 90px;
     margin-top: 10px;
     font-size: 10px;
}
hr{
    color: rgb(85, 85, 85);
    width: 295px;
    margin-left: 88px;
    opacity: 0.5;
}
.fa-solid{
    color: white;
    font-size: 10px;
    margin-left: 90px;
    margin-top: 40px;
    font-family: Manrope, "Manrope Placeholder", sans-serif;
}
.f1-solid{
    color: white;
    margin-left:px;
    display: inline;
    font-size: 14px;
    
    
    
    
}
/* CONTACT SECTION */

section{
  margin-top: 200px;
}

#section-form{
              width: 500px;
              height: 500px;
              
}
.fa-solid{
    color: white;
    font-size: 10px;
    margin-left: 84px;
    margin-top: 40px;
    font-family: Manrope, "Manrope Placeholder", sans-serif;
    display: inline;

}
.f1-solid{
    color: white;
    margin-left:10px;
    display: inline;
    font-size: 14px;
 
}
/* SKILL SECTION */

